//Montserrat
@font-face { font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
}
@font-face { font-family: "Montserrat Bold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype")
}
@font-face { font-family: "Montserrat Italic";
  src: url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype")
}
@font-face { font-family: "Montserrat Bold Italic";
  src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype")
}
//Garamond
@font-face { font-family: "Garamond";
  src: url("fonts/Garamond/Garamond-Regular.ttf") format("truetype")
}
@font-face { font-family: "Garamond Bold";
  src: url("fonts/Garamond/Garamond-Bold.ttf") format("truetype")
}
@font-face { font-family: "Garamond Italic";
  src: url("fonts/Garamond/Garamond-Italic.ttf") format("truetype")
}
@font-face { font-family: "Garamond Bold Italic";
  src: url("fonts/Garamond/Garamond-BoldItalic.ttf") format("truetype")
}
