@import "fonts/fonts-loading.scss";

body{
  background-color: $bg-color;
}
/* Title/ STYLE */
h1{
    font-family: 'Garamond Bold', serif;
    font-size: 50px;
    line-height: 60px;
    @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
      font-size: 35px;
      line-height: 40px;
    }
}
h2{
  font-family: 'Garamond Bold', serif;
  font-size: 30px;
  line-height: 40px;
}
h3{
  font-family: 'Garamond', serif;
  font-weight: unset;
  font-size: 27px;
  line-height: 37px;
}
h4, h5, h6{
  font-family: 'Garamond Italic', serif;
  font-weight: unset;
  font-size: 20px;
  line-height: 30px;
  margin: unset;
}

/* Text style */
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: black;
  margin: unset;
  @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
    font-size: 16px;
    line-height: 26px;
  }
  &.small{
    font-family: 'Montserrat Italic', sans-serif;
    font-size: 12px;
    line-height: 22px;
    @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
      font-size: 14px;
      line-height: 24px;
    }
  }
  &.big{
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 16px;
    line-height: 26px;
    @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
      font-size: 18px;
      line-height: 28px;
    }
  }
  &.admin-big{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
  }
}

/* Link style*/
a, button{
  text-decoration: none;
  font-family: 'Garamond Bold', sans-serif;
  font-size: 20px;
  line-height: 30px;
  fill: inherit;
  color: inherit;
  @media only screen and (max-width: map-get($grid-breakpoints, 'md')){
    font-size: 18px;
    line-height: 28px;
  }
}
/* Button style */
button{
  z-index: 2;
  padding: 20px 30px;
  background-color: $primary;
  border: 1px solid black;
  color: black;
  position: relative;
  text-align: center;
  transition: 0.5s;
  &:hover{
    border-color: $primary;
    background-color: white;
    color: $primary;
  }
}

hr{
  border: none;
  height: 1px;
  background-color: black;
  margin: 17px;
}

/* Formulaire style */
.custom-form{
  form {
    label {
      display: none;
    }
    input {
      width: 100%;
      padding: 20px;
      margin: 10px 0;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
/* Lists style */
ul{
  list-style: none;
  white-space: nowrap;
  padding: unset;
  margin: unset;
  li{
    display: flex;
  }
}

/* Display none */
.vanish{
  display: none!important;
}
.show {
  display: initial!important;
}

/* Smooth Transition */
svg{
  transition: 0.5s;
}
