@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Italic";
  src: url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Bold Italic";
  src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond";
  src: url("fonts/Garamond/Garamond-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond Light";
  src: url("fonts/Garamond/Garamond-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond Bold";
  src: url("fonts/Garamond/Garamond-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond Italic";
  src: url("fonts/Garamond/Garamond-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Garamond Bold Italic";
  src: url("fonts/Garamond/Garamond-BoldItalic.ttf") format("truetype");
}
body {
  background-color: #F1F1EF;
}

/* Title/ STYLE */
h1 {
  font-family: "Garamond Bold", serif;
  font-size: 50px;
  line-height: 60px;
}
@media only screen and (max-width: 960px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
}

h2 {
  font-family: "Garamond Bold", serif;
  font-size: 30px;
  line-height: 40px;
}

h3 {
  font-family: "Garamond", serif;
  font-weight: unset;
  font-size: 27px;
  line-height: 37px;
}

h4, h5, h6 {
  font-family: "Garamond Italic", serif;
  font-weight: unset;
  font-size: 20px;
  line-height: 30px;
  margin: unset;
}

/* Text style */
p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: black;
  margin: unset;
}
@media only screen and (max-width: 960px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}
p.small {
  font-family: "Montserrat Italic", sans-serif;
  font-size: 12px;
  line-height: 22px;
}
@media only screen and (max-width: 960px) {
  p.small {
    font-size: 14px;
    line-height: 24px;
  }
}
p.big {
  font-family: "Montserrat Bold", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 960px) {
  p.big {
    font-size: 18px;
    line-height: 28px;
  }
}
p.admin-big {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

/* Link style*/
a, button {
  text-decoration: none;
  font-family: "Garamond Bold", sans-serif;
  font-size: 20px;
  line-height: 30px;
  fill: inherit;
  color: inherit;
}
@media only screen and (max-width: 960px) {
  a, button {
    font-size: 18px;
    line-height: 28px;
  }
}

/* Button style */
button {
  z-index: 2;
  padding: 20px 30px;
  background-color: #C8A47E;
  border: 1px solid black;
  color: black;
  position: relative;
  text-align: center;
  transition: 0.5s;
}
button:hover {
  border-color: #C8A47E;
  background-color: white;
  color: #C8A47E;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
  margin: 17px;
}

/* Formulaire style */
.custom-form form label {
  display: none;
}
.custom-form form input {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Lists style */
ul {
  list-style: none;
  white-space: nowrap;
  padding: unset;
  margin: unset;
}

/* Display none */
.vanish {
  display: none !important;
}

.show {
  display: initial !important;
}

/* Smooth Transition */
svg {
  transition: 0.5s;
}

.opacity-enter-active {
  animation: opacity-in 0.6s;
}

.opacity-leave-active {
  animation: opacity-out 0.3s;
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=general.css.map */
